/* 글로벌 스타일 초기화 및 투박한 스타일 적용 */
html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #ffffff;
  font-family: 'Gulim', 'Malgun Gothic', Arial, sans-serif;
  overflow: hidden;
}

table, th, td {
  border: 1px solid #fff;
}
